* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
}

.usercard {
    width: 300px;
    padding: 30px;
    height: 400px;
    text-align: center;
    background-color: #FCF2E5;
}

.usercard img {
    width: 100%;

}

.usercard p {
    margin-top: 15px;
    font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;


}
.info h1{
    padding-top: 55px;
    font-size: 30px;
    padding-bottom: 40px;
}